﻿
@{
    ViewBag.Title = "Index";
}


<div class="market-updates">

    <div class="col-md-4 market-update-gd">
        <div class="market-update-block colorchange" id="card_addpersonel">
            <div class="col-md-4 market-update-right">
                <i class="iconattr fas fa-user-plus"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h3>Personel Kaydı&emsp;</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    @Html.Hidden("addPersonel", Url.Action("Personel", "IKPersonel"))


    <div class="col-md-4 market-update-gd">
        <div class="market-update-block colorchange" id="card_personellist">
            <div class="col-md-4 market-update-right">
                <i class="iconattr fas fa-users"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h3>Personel Listesi</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    @Html.Hidden("personelList", Url.Action("Personellist", "IKPersonellist"))

    <div class="col-md-4 market-update-gd">
        <div class="market-update-block colorchange" id="card_personelforms">
            <div class="col-md-4 market-update-right">
                <i class="iconattr fas fa-folder-open"></i>
            </div>
            <div class="col-md-8 market-update-left">
                <h3>Personel Formları</h3>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    @Html.Hidden("personelForms", Url.Action("Personelforms", "IKPersonelforms"))

</div>


<script>

        $('#card_addpersonel').on('click', function () {
            var url = $("#addPersonel").val();
            location.href = url;
        });

        $('#card_personellist').on('click', function () {
            var url = $("#personelList").val();
            location.href = url;
        });

        $('#card_personelforms').on('click', function () {
            var url = $("#personelForms").val();
            location.href = url;
        });


</script>
