﻿
@{
    ViewBag.Title = "Dilekce";
}

<style>
    .caner-button {
        padding: 12px 38px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: #f0bcb4;
        color: white;
        border: none;
        outline: none;
        display: table;
        cursor: pointer;
        margin: 45px auto 31px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

        .caner-button:hover {
            background: #8b5c7e;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -ms-transition: 0.5s all;
        }
</style>


        <div class="form-w3layouts">
            <section class="panel">

                <header class="panel-heading">Dilekçe Formu</header>

                <div class="panel-body">
                    <form class="form-horizontal bucket-form" method="get">

                        <div class="row col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label for="dilekce-kime" class="control-label col-md-5">Gönderilecek Personel ID:</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control m-bot15" id="dilekce-kime" />
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label for="dilekce-konu" class="control-label col-md-5">Konusu:</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control m-bot15" id="dilekce-konu" />
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row col-md-12">
                            <div class="col-md-1"></div>
                            <div class="col-md-5">
                                <label for="dilekce-aciklama" class="control-label col-md-4">Aciklama:</label>
                                <div class="col-md-8">
                                    <textarea type="text" class="form-control m-bot15" id="dilekce-aciklama"></textarea>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="wrapper col-md-12">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"><button type="submit" class="caner-button">Gönder</button></div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>

                    </form>
                </div>

            </section>
        </div>