﻿
@{
    ViewBag.Title = "Personelforms";
}

<div class="market-updates">

    <a href="~/IKSaatlikIzinForm/SaatlikIzin">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="fas fa-clock-o"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Saatlik İzin</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <a href="~/IKYillikIzinForm/YillikIzin">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-calendar-check-o"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Yıllık İzin</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <a href="~/IKBilgilendirmeForm/Bilgilendirme">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-info-circle"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Bilgilendirme</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <div class="clearfix"> </div>
</div>

<!--evrak birinci satır end-->
<!--evrak ikinci satır start-->

<div class="market-updates">

    <a href="~/IKTutanakForm/Tutanak">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-file-contract"> </i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Tutanak</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <a href="~/IKSavunmaForm/Savunma">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-file-signature"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Savunma</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <a href="~/IKIhtarForm/Ihtar">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-file-text" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>İhtar</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <div class="clearfix"> </div>
</div>

<!--evrak ikinci satır end-->
<!--evrak üçüncü satır start-->

<div class="market-updates">

    <a href="~/IKIstifaForm/Istifa">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-file-text"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>İstifa</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <a href="~/IKDevamsizlikForm/Devamsizlik">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-file-text"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Devamsızlık</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <a href="~/IKDilekceForm/Dilekce">
        <div class="col-md-4 market-update-gd">
            <div class="market-update-block colorchange" id="idari-button">
                <div class="col-md-4 market-update-right">
                    <i class="iconattr fas fa-file-text" aria-hidden="true"></i>
                </div>
                <div class="col-md-8 market-update-left">
                    <h3>Dilekçe</h3>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </a>

    <div class="clearfix"> </div>
</div>

<!--evrak üçüncü satır end-->
<!--evrak seçim end-->
