﻿
@{
    Layout = null;
}

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Visitors an Admin Panel Category Bootstrap Responsive Website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Visitors Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <!--<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/Content/font.css" type="text/css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/morris.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- calendar -->
    <link rel="stylesheet" href="~/Content/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="~/Content/js/jquery2.0.3.min.js"></script>
    <script src="~/Content/js/raphael-min.js"></script>
    <script src="~/Content/js/morris.js"></script>
</head>
<body>
    <div class="log-w3">
        <div class="w3layouts-main">
            <h2>Giriş Yap</h2>
            <form action="#" method="post">
                <input type="email" class="ggg" name="Email" placeholder="E-POSTA" required="">
                <input type="password" class="ggg" name="Password" placeholder="ŞİFRE" required="">
                <span><input type="checkbox" />Beni Hatırla</span>
                <h6><a href="#">Şifremi Unuttum</a></h6>
                <div class="clearfix"></div>
                <input type="submit" value="Giriş" name="login">
            </form>
            <p>Sıkıntı mı var ?<a href="registration.html">Teknik Destek Al</a></p>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.slimscroll.js"></script>
    <script src="js/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="js/jquery.scrollTo.js"></script>
</body>
</html>
