﻿@model IEnumerable<Smart.IK.Modal.ViewModals.PersonelListingViewModal>
@{
    ViewBag.Title = "Personellist";
}

<div class="table-agile-info">
    <div class="panel_noborder panel-default">
        <div class="panel-heading">
            Personel Listesi
        </div>

        <div class="market-updates">

            <div class="col-lg-4" style="float:left;">
                <label for="departman-select">Departman</label>
                <select id="departman-select" class="input-sm form-control w-sm inline v-middle">
                    <option value="0">Seçiniz...</option>
                    <option value="1">İnsan Kaynakları</option>
                    <option value="2">Muhasebe</option>
                    <option value="3">Stok</option>
                    <option value="4">Raporlama</option>
                    <option value="5">Tümü</option>
                </select>
                <button class="btn btn-sm btn-default" style="margin-top:10px">Uygula</button>
            </div>


            <div class="col-lg-4" style="float:left;">
                <label for="calisma-durumu-select">Çalışma Durumu</label>
                <select id="calisma-durumu-select" class="input-sm form-control w-sm inline v-middle">
                    <option value="0">Seçiniz...</option>
                    <option value="1">Aktif</option>
                    <option value="2">Pasif</option>
                    <option value="3">Tümü</option>
                </select>
                <button class="btn btn-sm btn-default" style="margin-top:10px">Uygula</button>
            </div>

            <div class="col-lg-4" style="float:left;">

                <div class="input-group">
                    <div class="input-group mb-3">
                        <label style="margin-right:4px">ID İle Arama</label>
                        <input type="text" class="form-control" placeholder="Personel ID Giriniz" aria-label="Personel ID Giriniz" aria-describedby="button-addon2" style="border-top-left-radius: 4px; border-bottom-left-radius: 4px">
                        <div class="input-group-append">
                            <button class="btn btn-default" type="button" id="button-addon2">Ara</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light" style="margin-top:30px">
                <thead>
                    <tr>
                        <th>Personel ID</th>
                        <th>İsim</th>
                        <th>Soyisim</th>
                        <th>Ünvan</th>
                        <th>Departman</th>
                        <th style="width:30px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.personel_kimlik</td>
                            <td>@i.isim</td>
                            <td>@i.soyisim</td>
                            <td>@i.unvan</td>
                            <td>@i.departman</td>
                            <td>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#"><i class="fas fa-remove"></i></a>
                                <a href="#"><i class="far fa-eye"></i></a>
                            </td>
                        </tr>     
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>