﻿
@{
    ViewBag.Title = "YillikIzin";
}

<style>
    .caner-button {
        padding: 12px 38px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: #f0bcb4;
        color: white;
        border: none;
        outline: none;
        display: table;
        cursor: pointer;
        margin: 45px auto 31px;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -ms-transition: 0.5s all;
    }

        .caner-button:hover {
            background: #8b5c7e;
            transition: 0.5s all;
            -webkit-transition: 0.5s all;
            -o-transition: 0.5s all;
            -moz-transition: 0.5s all;
            -ms-transition: 0.5s all;
        }
</style>

<div class="form-w3layouts">
    <section class="panel">

        <header class="panel-heading">Yıllık İzin Formu</header>

        <div class="panel-body">
            <form class="form-horizontal bucket-form" method="get">

                <div class="row col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <label for="yillik-neden" class="control-label col-md-3">İzin Nedeni:</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control m-bot15" id="yillik-neden" />
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <label for="yillik-baslangic" class="control-label col-md-3">İznin Başlangıç Tarih:</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control m-bot15" id="yillik-baslangic" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <label for="yillik-bitis" class="control-label col-md-3">İznin Bitiş Tarih:</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control m-bot15" id="yillik-bitis" />
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row col-md-12">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <label for="yillik-toplam" class="control-label col-md-6">Toplam Yıllık İzin:</label>
                        <div class="col-md-3">
                            <input type="number" class="form-control m-bot15" id="yillik-toplam" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="yillik-kalan" class="control-label col-md-6">Kalan Yıllık İzin:</label>
                        <div class="col-md-3">
                            <input type="number" class="form-control m-bot15" id="yillik-kalan" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="yillik-istenen" class="control-label col-md-6">İstenen Yıllık İzin:</label>
                        <div class="col-md-3">
                            <input type="number" class="form-control m-bot15" id="yillik-istenen" />
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row">
                    <div class="wrapper col-md-12">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button type="submit" class="caner-button">Onayla</button></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>

            </form>
        </div>

    </section>
</div>